* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  text-decoration: none;
  list-style: none;
}

.main-global-style {
  margin-top: 80px;
}

.container {
  height: 100%;
  max-width: 1200px; /* Keep the width */
  margin: 0 auto; /* Center horizontally */
  padding: 0 40px;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

a {
  color: black;
}

.truncate-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.icon-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  background-color: blue;
}