/* HEADER STYLES */
#sr-header-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 1000;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#sr-header-page .inner-header {
  height: 100%;
  width: 100%;
}

#sr-header-page .inner-header .wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#sr-header-page .menu-bar {
  display: none;
}

#sr-header-page .inner-header :where(.wrap, .menu > ul),
#sr-header-page .list-inline > ul,
#sr-header-page .list-inline > ul > li {
  display: flex;
  align-items: center;
}

#sr-header-page .header-right .list-inline > ul {
  justify-content: flex-end;
}

#sr-header-page .list-inline a {
  position: relative;
  font-size: 24px;
  padding: 0 10px;
  line-height: 1;
  display: flex;
}

#sr-header-page .header-left > ul {
  justify-content: flex-start;
}

#sr-header-page .header-left, .header-right {
  flex-grow: 1;
}

#sr-header-page .header-center nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 250px;
  max-width: 720px;
}

#sr-header-page .header-center .branding {
  position: absolute;
  left: -10px;
  right: 0;
  top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

#sr-header-page .header-center .branding a {
  font-family: serif;
  font-size: 30px;
  line-height: inherit;
  pointer-events: auto;
}

#sr-header-page .header-center .menu > ul > li > a {
  font-size: 15px;
  font-weight: 300;
  text-transform: uppercase;
  padding: 0 10px;
}

#sr-header-page .item-floating {
  position: absolute;
  font-size: 12px;
  font-weight: 600;
  top: -5px;
  right: 0px;
  background-color: rgb(193, 255, 193);
  color: black;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

@media only screen and (max-width: 992px) {
  #sr-header-page .header-center nav {
    display: none;
  }

  #sr-header-page .header-left .list-inline {
    display: none;
  }

  #sr-header-page .menu-bar {
    display: block;
  }

  #sr-header-page .menu-bar i {
    font-size: 20px;
  }

}

/* SEARCH STYLES */

.search-float.active {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  z-index: 1000;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display:block !important;
}

.search-float {
  display: none;
}

.search-form {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

.search-input {
  width: 100%;
  height: 50px;
  padding: 0 50px;
  font-size: 16px;
  border: 1px solid #e0e0e0;
  border-radius: 25px;
  outline: none;
}

.search-icon,
.close-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
}

.search-icon {
  left: 23px;
}

.close-icon {
  right: 30px;
}

/* OVERLAY STYLES */

.overlay {
  position: fixed;
  opacity: 0.6;
  background-color: rgb(91, 91, 91);
  height: 100%;
  right: 0;
  left: 0;
  z-index: 999;
  display: none;
}

.overlay.active {
  display: block;
}